<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Management</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/main.css">
    <!-- <link ... href="{{ url_for('static', filename='main.css') }}" /> -->
  </head>
  <body>
      <div class="main_left">
          <div id='logo'>Management System</div>
          <div  class='menu'  id='main_menu'>Menu</div>
          <div  class='menu1' id='recieved'><a style="color: rgb(247, 244, 241)" href="result"><i class="fas fa-truck fa-1x"> </i>   Recieved Products</a></div>
          <div  class='menu1' id='withdrawn'><a style="color: rgb(247, 244, 241)" href="withdrawn"><i class="fas fa-utensils"> </i>   Withdrawn Products</a></div>
          <div  class='menu1' id='update'><a style="color: rgb(247, 244, 241);" href="stock"><i class="fas fa-arrow-circle-up"></i> Stock Update</a></div>
          <div  class='menu'  id='maintenance'>Maintenance</div>
          <div  class='menu1' id='supp_list'><a style="color: rgb(247, 244, 241);" href="suppliers"><i class="fas fa-truck-moving"></i> Suppliers List</a></div>
          <div  class='menu1' id='user_list'><a style="color: rgb(247, 244, 241);" href="users"><i class="fas fa-users"></i> Users List</a></div>
          <div  class='menu1' id='todo_list'><a style="color: rgb(247, 244, 241);"href="Todo"><i class="fas fa-tasks"></i> To Do List</a></div>
          

      </div>
      <div class="main_right">   
        <div class="header">
          <div class="header_left">
            <input class="inp" id="inp1" placeholder="Withdrawn Products" type="text">
          </div>
          <div class="header_right">
            <div class="login" id = 'logIn'>
              <i class="far fa-user"></i><a style="color:black;" href="login">login</a>
            </div>
            <div class="display">
              <input class="inp" id="inp2" placeholder="User" type="text">
            </div>
          </div>
        </div>
        <div class='line'>
          <div class="line1"></div>
        </div>
        <div class="button">
          <div class="button1" id="addButton" >Add</div>
          <div class="button1" id="removeButton" >Erase</div>
          <div class="button1" id="getButton">Get</div>
        </div>
        <div class="grid_container">
        <div id="allCells" class="parent">
          <iv id="cell31"class="cell "></iv>
          <div id='cell32'class="cell "></div>
          <div id="cell33"class="cell "></div>
          <div id="cell34"class="cell "></div>
          <div id="cell35"class="cell "></div>
          <div id="cell36"class="cell "></div>
          <div id="cell37"class="cell"></div>
          <div id="cell38"class="cell "></div>
          <div id="cell39"class="cell "></div>
          <div id="cell40"class="cell "></div>
          <div id="cell41"class="cell "></div>
          <div id="cell42"class="cell "></div>
          <div id="cell43"class="cell "></div>
          <div id="cell44"class="cell "></div>
          <div id="cell45"class="cell "></div>
          <div id="cell46"class="cell "></div>
          <div id="cell47"class="cell "></div>
          <div id="cell48"class="cell "></div>
          <div id="cell49"class="cell "></div>
          <div id="cell50"class="cell "></div>
          <div id="cell51"class="cell "></div>
          <div id="cell52"class="cell "></div>
          <div id="cell53"class="cell "></div>
          <div id="cell54"class="cell "></div>
          <div id="cell55"class="cell "></div>
          <div id="cell56"class="cell "></div>
          <div id="cell57"class="cell "></div>
          <div id="cell58"class="cell "></div>
          <div id="cell59"class="cell "></div>
          <div id="cell60"class="cell "></div>     
        </div>
        </div>

      </div>
    
	<script type="module" src="{{url_for('static', filename='script1.js')}}"></script>
  <script type="module" src="{{url_for('static', filename='login.js')}}"></script>
  </body>
</html>